<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <link rel="stylesheet" href="css/electricStateStyle.css">
  <title>전력 현황</title>
</head>
<body>

  <header id="header">
    <h1 class="header-text"><a href="/">Energy</a></h1>
    <p class="clock">00:00:00</p>
  </header>

  <section id="status-box">
    <!--소비 전력 막대그래프-->


    <!--가정용으로 제작? 아님 공장, 빌딩용?-->
    <div class="status">
      <h2 class="status-heading">전력 상태</h2>
      <p>누적 전력량 : <span class="kWh"></span> kWh</p>
      <p>주파수 : <span class="Hz"></span> Hz</p>
      <p>평균 선간전압 : <span class="LV"></span> V</p>
      <p>평균 상전압 : <span class="PV"></span> V</p>
      <p>평균 전류 : <span class="AC"></span> A</p>
      <p>온도 : <span class="temp"></span> 도</p>
      <p>평균 역률 : <span class="cos"></span> %</p>
      <p>평균 유효전력 : <span class="realP"></span> kW</p>
      <p>평균 무효전력 : <span class="reactiveP"></span> kVar</p>
    </div>

    <div class="ess">
      <h2 class="ess-heading">ESS 충전 현황</h2>
      <p>ESS 최대 용량 : 12.8 kWh</p>
      <p>충전량 : <span class="ess-charge-number"></span> kWh</p>
      <canvas id="ess-graph" class="ess-status"></canvas>
    </div>
  </section>
  
  
  <script src="js/state.js"></script>
  <script src="js/clock.js"></script>
</body>
</html>